---
import { type CollectionEntry, getCollection } from "astro:content"
import RamblingPage from "../../layouts/RamblingPage.astro"

export async function getStaticPaths() {
	const posts = await getCollection("rambling")
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}))
}
type Props = CollectionEntry<"rambling">

const post = Astro.props
const { Content } = await post.render()
---

<RamblingPage {...post.data}>
	<div class="container mx-auto max-w-5xl px-4">
		<h1>{post.data.title}</h1>
		<Content />
	</div>
</RamblingPage>
