@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cherry+Bomb+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background text-text;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
	h1 {
		@apply mt-4 scroll-m-20 text-6xl md:text-8xl lg:text-9xl font-extrabold tracking-tight;
		font-family: 'Bungee', cursive;
		text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
	}
	h2 {
		@apply mt-4 scroll-m-20 text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight transition-colors first:mt-0;
		font-family: 'Bungee', cursive;
		color: black;
		text-shadow: 2px 2px 0px white, -2px -2px 0px white, 2px -2px 0px white, -2px 2px 0px white;
	}
	h3 {
		@apply mt-4 scroll-m-20 text-2xl font-semibold tracking-tight;
		font-family: 'Bungee', cursive;
	}
	h4 {
		@apply mt-4 scroll-m-20 text-xl font-semibold tracking-tight;
		font-family: 'Bungee', cursive;
	}
	a {
		/* @apply text-xl md:text-2xl font-bold; */
		/* font-family: 'Bungee', cursive;
		color: black;
		text-shadow: 2px 2px 0px white, -2px -2px 0px white, 2px -2px 0px white, -2px 2px 0px white;
		text-decoration: none; */
		text-decoration: underline;
	}
	p {
		@apply leading-7 text-text [&:not(:first-child)]:mt-3;
	}

	blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}

	ul {
		@apply ml-6 list-disc [&>li]:mt-2;
	}

	ol {
		@apply ml-6 list-decimal [&>li]:mt-2;
	}

	pre {
		@apply p-4;
	}

	svg {
		@apply text-text;
	}

	img {
		@apply rounded-sm;
	}

	pre {
		@apply my-4 rounded-sm
	}
}

@layer components {
	.center {
		@apply flex flex-col items-center justify-center;
	}

	.lead {
		@apply text-xl text-muted;
	}

	.cherry-bomb {
		font-family: 'Cherry Bomb One', cursive;
	}

	.bungee {
		font-family: 'Bungee', cursive;
	}
}
