---
import Page from "@/src/layouts/Page.astro"
---

<Page>

	<div class="space-y-4">
		<h1 class="my-8 text-7xl font-bold">Sangwu Lee</h1>
		<div>
				<p>
					Hi, I'm Sangwu. I work on production LLM/RAG systems at <a href="https://quizard.ai/">Quizard</a> @ NYC.
					While I'm not working, I work on multimodal learning research and train ML models on anime datasets.
					I believe that ML research "results" and "process" should be transparent and reproducible.
					I try to use this place to keep track of my own research progress.
				</p>
				<p>
					I grew up in South Korea, Netherlands, and New Mexico. My first programming language was in C, but began seriously coding with JS/TS for fullstack development since 2015.
					After being inspired by Deepmind's progess in Machine Learning, I began studying ML in 2018 starting with NLP and Recommender systems. 
					As for my research philosophy, I believe persistence and iteration speed are the key. I try to keep up with latest ML systems and hardware research to improve my training systems.
				</p>
				<p>
					During my undergraduate years, I've worked on various research projects in machine learning / Human computer interaction with a focus on multimodal learning.
					Together with <a href="https://roc-hci.com/">ROC-HCI Lab</a>, I've worked on developing <a href="https://parktest.net/demo">Health AI systems</a> for diagnosing Parkinson's disease and movement disorders using multimodal data.
					I've still an active collaborator of CMU's <a href="https://www.lti.cs.cmu.edu/">Language Technologies Institute</a> where I work on multimodal reasoning tasks with vision language models.
					I mostly <a href="https://scholar.google.com/citations?user=FBJeGpAAAAAJ"> publish in ACL, AAAI, ACII, Nature Digital Medicine, and my favorite ArXiv</a>
				</p>
				<p>
					Apart from ML research, I still consider myself a mathematian at heart. Specifically, my interest is in analysis with a focus on ODE/PDE and probability theory.
					I'm currently plowing through Axler's Measure theory book and Le Gall's probability book.
				</p>
		</div>
	</div>
</Page>
