---
import HomePage from "@/src/layouts/HomePage.astro"
---

<HomePage class="flex flex-col">

	<div class="flex-1 flex flex-col justify-start items-start p-8 space-y-4">
		<h1 class="text-white">SANGWU LEE</h1>
		<h2>I TEACH MACHINES TO DRAW PRETTY PICTURES.</h2>
	</div>
	
	<nav class="flex justify-start space-x-8 pb-12 pl-8">
		<a class="bungee no-underline text-border" href="/devlog/">HOME</a>
		<a class="bungee no-underline text-border" href="/devlog/projects">PROJECTS</a>
		<a class="bungee no-underline text-border" href="/devlog/rambling">RAMBLING</a>
		<!-- <a class="bungee no-underline text-border" href="/devlog/about">ABOUT ME</a> -->
	</nav>

</HomePage>
